@font-face {
    font-family: "vogue";
    src: url("../fonts/Vogue.ttf");
}

@font-face {
    font-family: "zenzai";
    src: url("../fonts/Zenzai\ Itacha.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "vogue";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/fundorosa.png);
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
}

p {
    color: rgb(255, 255, 255);
    font-family: "Zenzai";
    position: center;
}

a {
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 0);
}

header {
    padding: 20px 0;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.logo img {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 450px;
    height: 450px;
    margin-left: 650px;
}

.btn1 {
    background: transparent;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.btn1:hover {
    background: transparent;
    color: #e3004fc1;
}

.btn2 {
    background: transparent;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.btn2:hover {
    background: transparent;
    color: #e3004fc1;
}

.btn3 {
    background: transparent;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.btn3:hover {
    background: transparent;
    color: #e3004fc1;
}

.espaco{
    background: white;
    display: block;
    position: relative;
    height: 10vh;
}

.sobre
{
    position: relative;
    padding: 100px;
    background:#d1007dce;
   
}
.sobre .titulo{
    font-family: 'font1';
    font-size: 3.7em;
    margin-bottom: 18px;
    color:#4f2978;
    padding-left: 190px;
    padding-right: 300px;
    justify-content: center;
    text-align: center;
}
.sobre p{
    font-family: 'font2';
    font-size: 1.8em;
    color: rgb(19, 2, 19);
    padding-left: 200px;
    padding-right: 200px;
    text-align: justify;
}



/* REDES SOCIAIS */

.social-menu h4 {
    padding-top: 18px;
    text-align: center;
    font-size: 25px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
}
/*----- ÍCONES -----*/

.social-menu img {
    position: absolute;
    top: 12%;
    left: 12%;
}

.social-menu ul {
    padding-top: 10px;
    position: absolute;
    left: 77%;
    padding: 0px;
    margin-top: -450px;
    margin-left: 270px;
    display: flex;
    flex-direction: column;
}

.social-menu ul li {
    padding-top: 25px;
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li img {
    font-size: 15px;
    line-height: 30px;
    width: 37px;
    height: 37px;
    transition: 0.6s;
    color: #000;
}

.social-menu ul li .img:hover {
    color: #ffffff05;
    background-color: #ffffff00;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 15%;
    background-color: #ffffff00;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.8);
}

.social-menu ul li a:hover {
    transform: translate(0, -5px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #1ebbff;
}
.social-menu ul li:nth-child(2) a:hover {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #2c61ff 90%
    );
}
